# Mod_Autoindex
<IfModule mod_autoindex.c>
Options -Indexes
</IfModule>

#Mod_Rewrite
<IfModule mod_rewrite.c>
 Options +FollowSymlinks
    
    #Включаем mod_rewrite
	 RewriteEngine On
    
   
  # Если это папка или файл, открывает его/ее
   
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
   
   
   # В противном случае перенаправляем на index.php
   RewriteRule . index.php [L]
   
</IfModule>
   